@font-face {
	font-family: opensansL;
	src: url('../font/OpenSans-Light.ttf');
}
@font-face {
	font-family: proximaNovaL;
	src:url('../font/Proxima_Nova_Light.ttf');
}
.clear{
	clear: both;
}
header .headerWrap{
	width: 1247px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
	padding: 24px 0;
}
header .headerWrap .headerLogo{
	width: 226px;
	height: 66px;
	/*border: 1px solid #979797;*/
	float: left;
	/*margin: 24px 0;*/
	text-align: center;
	line-height: 66px;
}
header .headerWrap .headerLogo a{
	font-size: 30px;
	font-family: "opensansL";
	color: #979797;
	display: block;
	text-decoration: none;
}
header .headerWrap .headerLogo a span{

}
header .headerWrap .headerContact{
	float: right;
}
header .headerWrap .headerContact .headerPhoneNumber{
	font-family: 'proximaNovaL';
	font-size: 40px;
	color: #535353;
	line-height: 0.8;
	margin-bottom: 10px;
}
header .headerWrap .headerContact #headerForm{
	/*border: 1px solid #000;*/
}
header .headerWrap .headerContact #headerForm #phone{
    width: 142px;
    height: 17px;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
    border: 1px solid #000;	
}
header .headerWrap .headerContact #headerForm #headerFormButton{
	border: 1px solid #000;
	background: none;
	width: 138px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
header .headerWrap .headerContact #headerForm #headerFormButton:hover{
	cursor: pointer;	
	color: #fff;
	background: #ccc;
}
/*******NOT INDEX*********/
header #headerNoImg{
	background: none;
	background-size: cover;
	width: 100%;
	height: 250px;
}
header #headerNoImg .secondPartOfHeaderMainContent .headerMainInfo p{
	color: #3e3e3e;
}
header #headerNoImg .secondPartOfHeaderMainContent .headerMainInfo p.fontSz43{
	font-size: 43px;
}
header #headerNoImg .secondPartOfHeaderMainContent .headerMainInfo{
	width: 1000px;
	/*height: 300px;*/
	/*border: 1px solid #fff;*/
	padding-left: 70px;
	margin-top: 40px;	
}
header #headerNoImg .secondPartOfHeaderMainContent{
	width: 1247px;
	/*border: 1px solid #fff;*/
	margin: 0 auto;
	/*height: 300px;*/
}
/*******NOT INDEX*********/
/*********INDEX*********/
header .secondPartOfHeader{
	background: url('../img/headerphoto.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	/*border: 1px solid #000;*/
}
header .secondPartOfHeader .headerNav{
	max-width: 100%;
	min-width: 1247px;
	background: url('../img/headerNavBg.png');
	height: 53px;
}
header .secondPartOfHeader .headerNav .headerNavWrap{
	width: 1247px;
	/*border: 1px solid #fff;*/
	margin: 0 auto;
	height: 53px;
	line-height: 53px;
}
header .secondPartOfHeader .headerNav ul li{
	display: inline;
	margin-right: 53px;
	font-size: 0;
}
header .secondPartOfHeader .headerNav ul li:last-child{
	margin-right: 0;
}
header .secondPartOfHeader .headerNav ul li a{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-family: 'opensansL';
}
header .secondPartOfHeader .secondPartOfHeaderMainContent{
	width: 1247px;
	/*border: 1px solid #fff;*/
	margin: 0 auto;
	height: 300px;
}
header .secondPartOfHeader .secondPartOfHeaderMainContent .headerMainInfo{
	width: 480px;
	/*height: 300px;*/
	/*border: 1px solid #fff;*/
	padding-left: 70px;
	margin-top: 40px;	
}
header .secondPartOfHeader .secondPartOfHeaderMainContent .headerMainInfo p{
	font-size: 30px;
	color: #fff;
	font-family: "opensansL";
	margin-bottom: 30px;
}
header .secondPartOfHeader .secondPartOfHeaderMainContent .headerMainInfo #mainInfoButton{
	background: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*border: 1px solid #fff;*/
	font-family: "opensansL";
	font-size: 30px;
	color: #fff;
}
header .secondPartOfHeader .secondPartOfHeaderMainContent .headerMainInfo #mainInfoButton:hover{
	cursor: pointer;
	color: #000;
	background: #ccc;
}
/*********INDEX*********/
#mainPart{
	max-width: 100%;
	min-width: 1247px;
}
#mainPart .mainPatrWrap{
	width: 1247px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	/*height: 300px;*/
}
#mainPart .mainPatrWrap p{
	font-size: 20px;
	color: #1c1c1c;
	font-family: "opensansL";
	line-height: 1.2;
}
#mainPart .mainPatrWrap h2{
	font-family: "opensansL";
	color: #1c1c1c;
	font-size: 40px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 40px;
	/*border: 1px solid #000;*/
}
#mainPart .mainPatrWrap .servicesBlock{
	/*border: 1px solid #000;*/
}
#mainPart .mainPatrWrap .servicesBlock .ser{
	display: inline-block;
	/*border: 1px solid #000;*/
	font-size: 0;
	vertical-align: top;
	text-align: center;
	width: 202px;
}
#mainPart .mainPatrWrap .servicesBlock img{
	margin-bottom: 10px;
}
#mainPart .mainPatrWrap .servicesBlock p{
	font-size: 20px;
	color: #1c1c1c;
	text-align: center;
	font-family: "opensansL";
	/*border: 1px solid #000;*/
	/*height: 62px;*/
	/*line-height: 42px;*/
	margin-bottom: 10px;
}
#mainPart .mainPatrWrap .servicesBlock input{
	font-size: 18px;
	color: #2d65aa;
	background: none;
	border: 1px solid #2d65aa;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	width: 139px;
	height: 39px;
}
#mainPart .mainPatrWrap .servicesBlock input:hover{
	cursor: pointer;
	color: #fff;
	background: #ccc;
}
#mainPart .mainPatrWrap .textBlock{
	margin-bottom: 50px;
	/*border: 1px solid #000;*/
}
#mainPart .mainPatrWrap .textBlock p{
	color: #1c1c1c;
	font-size: 20px;
	line-height: 1.3;
	font-family: "opensansL";
}
#mainPart .mainPatrWrap .textBlock p.marBot{
	margin-bottom: 30px;
}
#mainPart .mainPatrWrap .textBlock p.marTop{
	margin-top: 30px;
}
#mainPart .mainPatrWrap .textBlock ul li{
	color: #1c1c1c;
	font-size: 20px;
	margin-bottom: 8px;
	font-family: "opensansL";
}
footer #footer{
	max-width: 100%;
	min-width: 1247px;
}
footer #footer .footerWrap{
	width: 1247px;
	background: url('../img/footerBg.png') no-repeat;
	height: 418px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	position: relative;
    z-index: 2;
    margin-bottom: -147px;
}
footer #footer .footerWrap .footerForm{
	width: 280px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	height: 100%;
	text-align: center;
} 
footer #footer .footerWrap .footerForm p{
	font-size: 22px;
	color: #212121;
	font-family: "opensansL";
	padding-top: 50px;
}
footer #footer .footerWrap .footerForm p span{
	font-size: 40px;
	color: #212121;
	font-family: "opensansL";
}
footer #footer .footerWrap .footerForm input{
	border: 1px solid #213455;
	background: none;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	width: 235px;
	height: 45px;
	margin-top: 30px;
	font-size: 22px;
	color: #213455;
	padding-left: 10px;
}
footer #footer .footerWrap .footerForm input#footerButton{
	color: #213455;
	font-size: 30px;
	font-family: "opensansL";
}
footer #footer .footerWrap .footerForm input#footerButton:hover{
	cursor: pointer;
	background: #ccc;
	color: #fff;
}
footer #footer .footerMap{
	max-width: 100%;
	min-width: 1247px;

}
.testig{
/*	width: 100%;
	height: 300px;*/
	background: url('../img/bl1.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 30px;
/*	border: 1px solid #000;*/
	  border-top: 100px solid red;
    border-left: 50px solid transparent;
    height: 0;
    width: 100px;
}
.strangeBlocks{
	/*border: 1px solid #000;*/
	margin-top: 30px;
}
.srvBl{
	background-size: 1247px !important;
	font-size: 0;
}
.serBl1{
	background: url('../img/serBl1.jpg') no-repeat;
	height:515px ;
	color: #fff !important;
	text-align: right;
}
.serBl2{
	background: url('../img/serBl2.jpg') no-repeat;
	height:456px ;
}
.serBl3{
	background: url('../img/serBl3.jpg') no-repeat;
	height:450px ;
	color: #fff !important;
	text-align: right;
}
.serBl4{
	background: url('../img/serBl4.jpg') no-repeat;
	height:455px ;
}
.serBl5{
	background: url('../img/serBl5.jpg') no-repeat;
	height:451px ;
	color: #fff !important;
	text-align: right;
}
.serBl6{
	background: url('../img/serBl6.jpg') no-repeat;
	height:446px ;
}
.serBl7{
	background: url('../img/serBl7.jpg') no-repeat;
	height:792px ;
	color: #fff !important;
	text-align: center;
}
/**********************************/
.innerTextBlock{
	font-size: 20px;
	width: 850px;
	/*border: 1px solid #000;*/
	display: inline-block;
	text-align: left;
	font-family: "opensansL";
    line-height: 1.2;
}
.innerTextBlock h2{	
	font-family: "opensansL" !important;
	font-size: 40px;
	margin-bottom: 20px !important;
}
.innerTextBlock input{
	/*width: 320px;*/
	padding: 0 30px;
	height: 63px;
	background: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	font-size: 30px;
	font-family: "opensansL";
	margin-left: 280px;
    margin-top: 18px;
    outline:inherit;
}
.innerTextBlock input:hover{
	cursor: pointer;
	background: #ccc;
	color: #fff;
}
/**********************************/
.serBl1 .innerTextBlock{
	margin-top: 40px;
}
.serBl1 .innerTextBlock h2{
	color: #fff !important;
}
.serBl1 .innerTextBlock input{
	color: #fff;
	border: 2px solid #fff;
}
/**********************************/
.serBl2 .innerTextBlock{
	/*margin-top: 40px;*/
	margin-left: 25px;
}
.serBl2 .innerTextBlock h2{
	/*color: #fff !important;*/
	margin-top: 10px !important;
}
.serBl2 .innerTextBlock input{
	color: #000;
	border: 2px solid #000;
	margin-top: 20px;
}
/**********************************/
.serBl3 .innerTextBlock{
	margin-top:10px;
	width: 820px;
	margin-right: 10px;
}
.serBl3 .innerTextBlock h2{
	color: #fff !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.serBl3 .innerTextBlock input{
	color: #fff;
	border: 2px solid #fff;
}
/**********************************/
.serBl4 .innerTextBlock{
	/*margin-top: 40px;*/
	margin-left: 25px;
}
.serBl4 .innerTextBlock h2{
	/*color: #fff !important;*/
	margin-top: 10px !important;
}
.serBl4 .innerTextBlock input{
	color: #000;
	border: 2px solid #000;
	margin-top: 20px;
}
/**********************************/
.serBl5 .innerTextBlock{
	margin-top:10px;
	width: 820px;
	margin-right: 10px;
}
.serBl5 .innerTextBlock h2{
	color: #fff !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.serBl5 .innerTextBlock input{
	color: #fff;
	border: 2px solid #fff;
}
/**********************************/
.serBl6 .innerTextBlock{
	/*margin-top: 40px;*/
	margin-left: 25px;
	margin-top: 20px;
}
.serBl6 .innerTextBlock h2{
	/*color: #fff !important;*/
	margin-top: 10px !important;
}
.serBl6 .innerTextBlock input{
	color: #000;
	border: 2px solid #000;
	margin-top: 20px;
}
/**********************************/
.serBl7 .innerTextBlock p{
	color: #fff !important;
}
.serBl7 .innerTextBlock{
	margin-top:10px;
	width: 1100px;
	margin-right: 10px;
}
.serBl7 .innerTextBlock h2{
	color: #fff !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.serBl7 .innerTextBlock input{
	color: #fff;
	border: 2px solid #fff;
}
.afterService p{
	    color: #1c1c1c;
    font-size: 20px;
    line-height: 1.3;
    font-family: "opensansL";
}

.spravkaTemlates{
	background: url('../img/spravkaTemplate.jpg') no-repeat;
	background-size: 1247px !important;
	height: 906px;
	border: 1px solid #000;
	text-align: center;
}
.spravkaTemlates h2{
	color: #fff !important;
}
.spravkaImgs{
	/*border: 1px solid #fff;*/
	width: 950px;
	text-align: center;
	font-size: 0;
	margin: 0 auto;
}
.spravkaTemlates p{
	font-size: 20px;
	color: #fff;
	font-family: "opensansL";
	width: 1160px;
	margin: 0 auto; 
	/*border: 1px solid #fff;*/
	margin-top: 20px;
	text-align: left;
}
.spravkaTemlates input{
	padding: 0 30px;
	height: 63px;
	background: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	font-size: 30px;
	font-family: "opensansL";
	/*margin-left: 280px;*/
    margin-top: 50px;
    outline:inherit;
    color: #fff;
    border: 2px solid #fff;
}
.spravkaTemlates input:hover{
		cursor: pointer;
	background: #ccc;
	color: #fff;
}
.shareScreen{
	/*border: 1px solid #000;*/
}
.leftPiece{
	width: 45%;
	display: inline-block;
	/*border: 1px solid #000;*/
	vertical-align: top;
	margin-right: 115px;
	text-align: center;
}
.leftPiece p{
	text-align: left;
}
.rightPiece{
	width: 45%;	
	display: inline-block;
	/*border: 1px solid #000;*/
	vertical-align: top;
	text-align: center;
	height: 456px;
}
.rightPiece p{
	text-align: left;
}
.center{
	text-align: center;
}
.shareScreen div input, .download{
	padding: 0 70px;
	height: 63px;
	background: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	font-size: 30px;
	font-family: "opensansL";
	/*margin-left: 280px;*/
    margin-top: 20px;
    outline:inherit;
    color: #2d65aa;
    border: 2px solid #2d65aa;
}
.rightPiece input{
	margin-top: 46px !important;
}
.shareScreen div input:hover, .download:hover{
	cursor: pointer;
	background: #ccc;
	color: #fff;
}
.shema2{
	background: url('../img/odoxodaxBg.jpg') no-repeat;
	border: 1px solid #000;
	background-size: 1247px !important;
	height: 687px;
	margin-top: 30px;
	text-align: center;
}
.shema2 h2{
	color: #fff !important;
	font-size: 40px !important;
	font-family: "opensansL";
	width: 950px;
	margin: 0 auto;	
}
.shema2 p{
	color: #fff !important;
	font-size: 20px !important;
	font-family: "opensansL";
	width: 1150px;
	margin: 0 auto;
	text-align: left;
}
.sraboty h2{
	margin-top: 40px !important;
}
.witdMar li{
	margin-bottom: 20px !important;
	line-height: 1.2;
}